<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Menu</title>


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">

<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/magnific-popup.css">
<link rel="stylesheet" href="../static/css/templatemo-style.css">


</head>
<body>

  <section id="galleryone" class="tm-section">
    <header><h2 class="tm-blue-text tm-section-title tm-margin-b-30">Noodles</h2></header>
    <div class="tm-gallery-container tm-gallery-1">
        <div class="tm-img-container tm-img-container-1">
            <a href="img/neaty-03.jpg"><img src="img/neaty-03.jpg" alt="Image" class="img-fluid tm-img-tn"></a>    
        </div>
        <div class="tm-img-container tm-img-container-1">
            <a href="img/neaty-04.jpg"><img src="img/neaty-04.jpg" alt="Image" class="img-fluid tm-img-tn"></a>    
        </div>
        <div class="tm-img-container tm-img-container-1">
            <a href="img/neaty-05.jpg"><img src="img/neaty-05.jpg" alt="Image" class="img-fluid tm-img-tn"></a>    
        </div>
        <div class="tm-img-container tm-img-container-1">
            <a href="img/neaty-06.jpg"><img src="img/neaty-06.jpg" alt="Image" class="img-fluid tm-img-tn"></a>    
        </div>
        <div class="tm-img-container tm-img-container-1">
            <a href="img/neaty-07.jpg"><img src="img/neaty-07.jpg" alt="Image" class="img-fluid tm-img-tn"></a>    
        </div>                                    
    </div>
</section>



      <script src="../static/js/jquery-1.11.3.min.js"></script>             <!-- jQuery (https://jquery.com/download/) -->
      <script src="../static/js/jquery.magnific-popup.min.js"></script>     <!-- Magnific pop-up (http://dimsemenov.com/plugins/magnific-popup/) -->
      <script src="../static/js/jquery.singlePageNav.min.js"></script>    
</body>
</html>