<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Menu</title>

<script src="../static/js/menu.js" async></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">

<link rel="stylesheet" href="../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../static/css/magnific-popup.css">
<link rel="stylesheet" href="../static/css/templatemo-style.css">

<style>
  .hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  background-color: rgba(0,0,0,0.5);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0,0,0,0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  padding: 10px;
}

.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin: 50px 0 0;
  padding: 7px 14px;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.hovereffect:hover .overlay {
  opacity: 0.8;
  filter: alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0);
}

.hovereffect:hover a.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}

.shop-item-id{
  color: white;
}

</style>

</head>
<body>

<div class="row" style="padding-left: 15px">
  <a class="btn btn-dark" href="{{ url_for('home') }}" style="color: white; font-size: 30px; background: black;"> &#127490 Home Page</a>
</div>

<br>

<header><h2 class="tm-blue-text tm-section-title tm-margin-b-30"><strong> &#127842 Appetizers</strong></h2></header>

<div class="row" style="padding-left: 25px">
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <div class="shop-item">
            <img class="shop-item-image" src="../static/img/app1.jpg" style="width: 120%">
              <span class="shop-item-id"><strong>2</strong></span>
              <span class="shop-item-title"><strong>Gyoza</strong></span>
              <span class="shop-item-price"><strong>$6.99</strong></span>
          
              <div class="overlay">
                  <h2>Gyoza</h2>
                  <a class="info" href="https://en.wikipedia.org/wiki/Jiaozi#Gyōza" target="_blank">
                    <p>Cost: $6.99</p>
                     <p>Click for Nutrition</p>
                  </a>
               </div>
        </div>
    </div>
    <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
</div>


<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <div class="shop-item">
            <img class="shop-item-image" src="../static/img/app2.jpg" style="width: 120%">
              <span class="shop-item-id"><strong>3</strong></span>
              <span class="shop-item-title"><strong>Edamame</strong></span>
              <span class="shop-item-price"><strong>$6.99</strong></span>
          
              <div class="overlay">
                  <h2>Edamame</h2>
                  <a class="info" href="https://en.wikipedia.org/wiki/Edamame" target="_blank">
                    <p>Cost: $6.99</p>
                     <p>Click for Nutrition</p>
                  </a>
               </div>
        </div>
    </div>
    <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <div class="shop-item">
            <img class="shop-item-image" src="../static/img/na.gif" style="width: 120%">
              <span class="shop-item-id"><strong>4</strong></span>
              <span class="shop-item-title"><strong>Yakitori</strong></span>
              <span class="shop-item-price"><strong>$4.99</strong></span>
          
              <div class="overlay">
                  <h2>Yakitori</h2>
                  <a class="info" href="https://en.wikipedia.org/wiki/Yakitori" target="_blank">
                    <p>Cost: $4.99</p>
                     <p>Click for Nutrition</p>
                  </a>
               </div>
        </div>
    </div>
    <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <div class="shop-item">
            <img class="shop-item-image" src="../static/img/na.gif" style="width: 120%">
              <span class="shop-item-id"><strong>5</strong></span>
              <span class="shop-item-title"><strong>Spring roll</strong></span>
              <span class="shop-item-price"><strong>$4.99</strong></span>
          
              <div class="overlay">
                  <h2>Spring roll</h2>
                  <a class="info" href="https://en.wikipedia.org/wiki/Spring_roll" target="_blank">
                    <p>Cost: $4.99</p>
                     <p>Click for Nutrition</p>
                  </a>
               </div>
        </div>
    </div>
    <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
</div>
</div>

<br>
<hr>
<br>

<h5 class="tm-blue-text tm-section-title tm-margin-b-30"><strong> &#127858 Noodles</strong></h5>

<div class="row" style="padding-left:25px;">

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <div class="shop-item">
            <img class="shop-item-image" src="../static/img/na.gif" style="width: 120%">
              <span class="shop-item-id"><strong>6</strong></span>
              <span class="shop-item-title"><strong>Hakodate</strong></span>
              <span class="shop-item-price"><strong>$10.99</strong></span>
          
              <div class="overlay">
                  <h2>Hakodate</h2>
                  <a class="info" href="https://en.wikipedia.org/wiki/Fried_chicken" target="_blank">
                    <p>Cost: $10.99</p>
                     <p>Click for Nutrition</p>
                  </a>
               </div>
        </div>
    </div>
    <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
</div>


<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <div class="shop-item">
            <img class="shop-item-image" src="../static/img/app3.jpg" style="width: 120%">
              <span class="shop-item-id"><strong>7</strong></span>
              <span class="shop-item-title"><strong>Sapporo</strong></span>
              <span class="shop-item-price"><strong>$12.99</strong></span>
          
              <div class="overlay">
                  <h2>Sapporo</h2>
                  <a class="info" href="https://en.wikipedia.org/wiki/Ramen" target="_blank">
                    <p>Cost: $12.99</p>
                     <p>Click for Nutrition</p>
                  </a>
               </div>
        </div>
    </div>
    <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <div class="shop-item">
            <img class="shop-item-image" src="../static/img/app4.jpg" style="width: 120%">
              <span class="shop-item-id"><strong>8</strong></span>
              <span class="shop-item-title"><strong>Kitakata</strong></span>
              <span class="shop-item-price"><strong>$12.99</strong></span>
          
              <div class="overlay">
                  <h2>Kitakata</h2>
                  <a class="info" href="https://en.wikipedia.org/wiki/Okonomiyaki" target="_blank">
                    <p>Cost: $12.99</p>
                     <p>Click for Nutrition</p>
                  </a>
               </div>
        </div>
    </div>
    <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
</div>


<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <div class="shop-item">
            <img class="shop-item-image" src="../static/img/na.gif" style="width: 120%">
              <span class="shop-item-id"><strong>9</strong></span>
              <span class="shop-item-title"><strong>Chuka Soba</strong></span>
              <span class="shop-item-price"><strong>$10.99</strong></span>
          
              <div class="overlay">
                  <h2>Chuka Soba</h2>
                  <a class="info" href="https://en.wikipedia.org/wiki/Tonkatsu" target="_blank">
                    <p>Cost: $10.99</p>
                     <p>Click for Nutrition</p>
                  </a>
               </div>
        </div>
    </div>
    <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
</div>
</div>

<br>
<br>

<div class="row" style="padding-left: 25px">

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <div class="shop-item">
            <img class="shop-item-image" src="../static/img/app5.jpg" style="width: 120%">
              <span class="shop-item-id"><strong>10</strong></span>
              <span class="shop-item-title"><strong>Tsukemen</strong></span>
              <span class="shop-item-price"><strong>$12.99</strong></span>
          
              <div class="overlay">
                  <h2>Tsukemen</h2>
                  <a class="info" href="https://en.wikipedia.org/wiki/Sushi" target="_blank">
                    <p>Cost: $12.99</p>
                     <p>Click for Nutrition</p>
                  </a>
               </div>
        </div>
    </div>
    <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
</div>

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <div class="shop-item">
            <img class="shop-item-image" src="../static/img/na.gif" style="width: 120%">
              <span class="shop-item-id"><strong>11</strong></span>

              <span class="shop-item-title"><strong>Takayama</strong></span>
              <span class="shop-item-price"><strong>$10.99</strong></span>
          
              <div class="overlay">
                  <h2>Takayama</h2>
                  <a class="info" href="https://en.wikipedia.org/wiki/Yakisoba" target="_blank">
                    <p>Cost: $10.99</p>
                     <p>Click for Nutrition</p>
                  </a>
               </div>
        </div>
    </div>
    <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
</div>
</div>

<br>
<hr>
<br>



<h5 class="tm-blue-text tm-section-title tm-margin-b-30"><strong> &#127857 Sushi</strong></h5>

<div class="row" style="padding-left:25px;">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
          <div class="shop-item">
              <img class="shop-item-image" src="../static/img/app6.jpg" style="width: 120%">
                <span class="shop-item-id"><strong>12</strong></span>

                <span class="shop-item-title"><strong>California roll</strong></span>
                <span class="shop-item-price"><strong>$12.99</strong></span>
            
                <div class="overlay">
                    <h2>California roll</h2>
                    <a class="info" href="https://en.wikipedia.org/wiki/Fried_chicken" target="_blank">
                      <p>Cost: $12.99</p>
                       <p>Click for Nutrition</p>
                    </a>
                 </div>
          </div>
      </div>
      <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
          <div class="shop-item">
              <img class="shop-item-image" src="../static/img/na.gif" style="width: 120%">
                <span class="shop-item-id"><strong>13</strong></span>
                <span class="shop-item-title"><strong>Spider roll</strong></span>
                <span class="shop-item-price"><strong>$10.99</strong></span>
            
                <div class="overlay">
                    <h2>Spider roll</h2>
                    <a class="info" href="https://en.wikipedia.org/wiki/Ramen" target="_blank">
                      <p>Cost: $10.99</p>
                       <p>Click for Nutrition</p>
                    </a>
                 </div>
          </div>
      </div>
      <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
          <div class="shop-item">
              <img class="shop-item-image" src="../static/img/app7.jpg" style="width: 120%">
                <span class="shop-item-id"><strong>14</strong></span>
                <span class="shop-item-title"><strong>Tuna Sushi</strong></span>
                <span class="shop-item-price"><strong>$12.99</strong></span>
            
                <div class="overlay">
                    <h2>Tuna Sushi</h2>
                    <a class="info" href="https://en.wikipedia.org/wiki/Okonomiyaki" target="_blank">
                      <p>Cost: $12.99</p>
                       <p>Click for Nutrition</p>
                    </a>
                 </div>
          </div>
      </div>
      <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
          <div class="shop-item">
              <img class="shop-item-image" src="../static/img/na.gif" style="width: 120%">
                <span class="shop-item-id"><strong>15</strong></span>
                <span class="shop-item-title"><strong>Dynamite roll</strong></span>
                <span class="shop-item-price"><strong>$10.99</strong></span>
            
                <div class="overlay">
                    <h2>Dynamite roll</h2>
                    <a class="info" href="https://en.wikipedia.org/wiki/Tonkatsu" target="_blank">
                      <p>Cost: $10.99</p>
                       <p>Click for Nutrition</p>
                    </a>
                 </div>
          </div>
      </div>
      <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
  </div>
</div>

<br>
<br>

</div>

<div class=row style="padding-left: 25px">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
          <div class="shop-item">
              <img class="shop-item-image" src="../static/img/app8.jpg" style="width: 120%">
                <span class="shop-item-id"><strong>16</strong></span>
                <span class="shop-item-title"><strong>Philadelphia roll</strong></span>
                <span class="shop-item-price"><strong>$12.99</strong></span>
            
                <div class="overlay">
                    <h2>Philadelphia roll</h2>
                    <a class="info" href="https://en.wikipedia.org/wiki/Sushi" target="_blank">
                      <p>Cost: $12.99</p>
                       <p>Click for Nutrition</p>
                    </a>
                 </div>
          </div>
      </div>
      <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
          <div class="shop-item">
              <img class="shop-item-image" src="../static/img/na.gif" style="width: 120%">
                <span class="shop-item-id"><strong>17</strong></span>
                <span class="shop-item-title"><strong>Seattle roll</strong></span>
                <span class="shop-item-price"><strong>$10.99</strong></span>
            
                <div class="overlay">
                    <h2>Seattle roll</h2>
                    <a class="info" href="https://en.wikipedia.org/wiki/Yakisoba" target="_blank">
                      <p>Cost: $10.99</p>
                       <p>Click for Nutrition</p>
                    </a>
                 </div>
          </div>
      </div>
      <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
  </div>
</div>

<br>
<hr>
<br>

<div class=row style="padding-left: 25px">

    <h5 class="tm-blue-text tm-section-title tm-margin-b-30"><strong> &#127867 Beverage</strong></h5>
    
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <div class="shop-item">
                <img class="shop-item-image" src="../static/img/app9.jpg" style="width: 120%">
                  <span class="shop-item-id"><strong>18</strong></span>
                  <span class="shop-item-title"><strong>Coke</strong></span>
                  <span class="shop-item-price"><strong>$2.99</strong></span>
              
                  <div class="overlay">
                      <h2>Coke</h2>
                      <a class="info" href="https://en.wikipedia.org/wiki/Fried_chicken" target="_blank">
                        <p>Cost: $2.99</p>
                         <p>Click for Nutrition</p>
                      </a>
                   </div>
            </div>
        </div>
        <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
    </div>
    
    
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <div class="shop-item">
                <img class="shop-item-image" src="../static/img/app10.jpg" style="width: 110%">
                  <span class="shop-item-id"><strong>19</strong></span>
                  <span class="shop-item-title"><strong>Beer</strong></span>
                  <span class="shop-item-price"><strong>$4.99</strong></span>
              
                  <div class="overlay">
                      <h2>Beer</h2>
                      <a class="info" href="https://en.wikipedia.org/wiki/Ramen" target="_blank">
                        <p>Cost: $4.99</p>
                         <p>Click for Nutrition</p>
                      </a>
                   </div>
            </div>
        </div>
        <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
    </div>
    
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="hovereffect">
            <div class="shop-item">
                <img class="shop-item-image" src="../static/img/app11.jpg" style="width: 90%">
                  <span class="shop-item-id"><strong>20</strong></span>
                  <span class="shop-item-title"><strong>Tea</strong></span>
                  <span class="shop-item-price"><strong>$2.99</strong></span>
              
                  <div class="overlay">
                      <h2>Japanese Green Tea</h2>
                      <a class="info" href="https://en.wikipedia.org/wiki/Okonomiyaki" target="_blank">
                        <p>Cost: $2.99</p>
                         <p>Click for Nutrition</p>
                      </a>
                   </div>
            </div>
        </div>
        <button class="btn btn-primary shop-item-button btn-sm" style="margin-left: 110px; margin-top: 10px;" type="button">ADD TO CART</button>
    </div>
</div>



 <!-- CART SECTION -->
<hr>
<br>

<div class="col-lg-12 col-md-4 col-sm-6 col-xs-12" style="padding-left: 30px">
    <h2 class="section-header"><strong>ORDER CART</strong></h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">Item</span>
        <span class="cart-price cart-header cart-column">Price</span>
        <span class="cart-quantity cart-header cart-column">Quality</span>
    </div>

    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$0</span>
    </div>
    <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button>
 </div>



      <script src="../static/js/jquery-1.11.3.min.js"></script>      <!-- jQuery (https://jquery.com/download/) -->
      <script src="../static/js/jquery.magnific-popup.min.js"></script>     <!-- Magnific pop-up (http://dimsemenov.com/plugins/magnific-popup/) -->
      <script src="../static/js/jquery.singlePageNav.min.js"></script>   
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>