{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Survey</legend>
                <div class="form-group">
                    {{ form.first_name.label(class="form-control-label") }}
                    {% if form.first_name.errors %}
                        {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.first_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            {{ form.sex.label(class="form-control-label") }}
                            {% if form.sex.errors %}
                                {{ form.sex(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.sex.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.sex(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="form-group">
                            {{ form.ethnicity.label(class="form-control-label") }}
                            {% if form.ethnicity.errors %}
                                {{ form.ethnicity(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.ethnicity.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.ethnicity(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            {{ form.age.label(class="form-control-label") }}
                            {% if form.age.errors %}
                                {{ form.age(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.age.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.age(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="col-lg-7">
          
                        <div class="form-group">
                            {{ form.zipcode.label(class="form-control-label") }}
                            {% if form.zipcode.errors %}
                                {{ form.zipcode(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.zipcode.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.zipcode(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group" onclick="alert('Thanks for taking survey')">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
{% endblock content %}
